HarperSERVICE/HarperSERVICE/SFGWrapper/Web References/SFG.SubOrderInsertSvc/SubOrderInsert.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:typens="urn:SubOrderInsert" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" name="SubOrderInsert" targetNamespace="urn:SubOrderInsert" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:SubOrderInsert">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="argtype">
        <xsd:all>
          <xsd:element name="org" type="xsd:string" />
          <xsd:element name="program_type_id" type="xsd:string" />
          <xsd:element name="program_id" type="xsd:string" />
          <xsd:element name="test_mode" type="xsd:string" />
          <xsd:element minOccurs="0" name="as_partner" type="xsd:string" />
          <xsd:element minOccurs="0" name="db_name" type="xsd:string" />
          <xsd:element minOccurs="0" name="app_version" type="xsd:string" />
          <xsd:element minOccurs="0" name="is_network_monitor" type="xsd:string" />
          <xsd:element minOccurs="0" name="as_email" type="xsd:string" />
          <xsd:element minOccurs="0" name="refresh_customer" type="xsd:string" />
          <xsd:element name="key_code" type="xsd:string" />
          <xsd:element name="term" type="xsd:int" />
          <xsd:element minOccurs="0" name="copies" type="xsd:int" />
          <xsd:element minOccurs="0" name="start_issue" type="xsd:int" />
          <xsd:element minOccurs="0" name="premium1" type="xsd:string" />
          <xsd:element minOccurs="0" name="premium2" type="xsd:string" />
          <xsd:element minOccurs="0" name="premium3" type="xsd:string" />
          <xsd:element name="payment_type" type="xsd:string" />
          <xsd:element minOccurs="0" name="cc_route_no" type="xsd:string" />
          <xsd:element name="currency" type="xsd:string" />
          <xsd:element minOccurs="0" name="postage" type="xsd:string" />
          <xsd:element minOccurs="0" name="tax" type="xsd:string" />
          <xsd:element name="price" type="xsd:string" />
          <xsd:element name="amount_paid" type="xsd:string" />
          <xsd:element minOccurs="0" name="auto_renew" type="xsd:string" />
          <xsd:element minOccurs="0" name="survey_trans_id" type="xsd:string" />
          <xsd:element name="customer_number" type="xsd:string" />
          <xsd:element minOccurs="0" name="gift_flag" type="xsd:string" />
          <xsd:element minOccurs="0" name="gift_number" type="xsd:string" />
          <xsd:element minOccurs="0" name="g_title" type="xsd:string" />
          <xsd:element minOccurs="0" name="g_first" type="xsd:string" />
          <xsd:element minOccurs="0" name="g_mi" type="xsd:string" />
          <xsd:element minOccurs="0" name="g_last" type="xsd:string" />
          <xsd:element minOccurs="0" name="g_suffix" type="xsd:string" />
          <xsd:element minOccurs="0" name="g_professional_title" type="xsd:string" />
          <xsd:element minOccurs="0" name="g_business_name" type="xsd:string" />
          <xsd:element minOccurs="0" name="g_add1" type="xsd:string" />
          <xsd:element minOccurs="0" name="g_add2" type="xsd:string" />
          <xsd:element minOccurs="0" name="g_add3" type="xsd:string" />
          <xsd:element minOccurs="0" name="g_city" type="xsd:string" />
          <xsd:element minOccurs="0" name="g_st" type="xsd:string" />
          <xsd:element minOccurs="0" name="g_zip" type="xsd:string" />
          <xsd:element minOccurs="0" name="g_country" type="xsd:string" />
          <xsd:element minOccurs="0" name="g_phone" type="xsd:string" />
          <xsd:element minOccurs="0" name="g_email" type="xsd:string" />
          <xsd:element minOccurs="0" name="g_optin" type="xsd:string" />
          <xsd:element minOccurs="0" name="g_email_list" type="typens:emaillisttypeArray" />
          <xsd:element minOccurs="0" name="g_optin_list" type="typens:optinlisttypeArray" />
          <xsd:element minOccurs="0" name="c_title" type="xsd:string" />
          <xsd:element minOccurs="0" name="c_first" type="xsd:string" />
          <xsd:element minOccurs="0" name="c_mi" type="xsd:string" />
          <xsd:element minOccurs="0" name="c_last" type="xsd:string" />
          <xsd:element minOccurs="0" name="c_suffix" type="xsd:string" />
          <xsd:element minOccurs="0" name="c_professional_title" type="xsd:string" />
          <xsd:element minOccurs="0" name="c_business_name" type="xsd:string" />
          <xsd:element minOccurs="0" name="c_add1" type="xsd:string" />
          <xsd:element minOccurs="0" name="c_add2" type="xsd:string" />
          <xsd:element minOccurs="0" name="c_add3" type="xsd:string" />
          <xsd:element minOccurs="0" name="c_city" type="xsd:string" />
          <xsd:element minOccurs="0" name="c_st" type="xsd:string" />
          <xsd:element minOccurs="0" name="c_zip" type="xsd:string" />
          <xsd:element minOccurs="0" name="c_country" type="xsd:string" />
          <xsd:element minOccurs="0" name="c_phone" type="xsd:string" />
          <xsd:element minOccurs="0" name="c_fax" type="xsd:string" />
          <xsd:element minOccurs="0" name="c_email" type="xsd:string" />
          <xsd:element minOccurs="0" name="c_altcity" type="xsd:string" />
          <xsd:element minOccurs="0" name="c_optin" type="xsd:string" />
          <xsd:element minOccurs="0" name="c_email_list" type="typens:emaillisttypeArray" />
          <xsd:element minOccurs="0" name="c_optin_list" type="typens:optinlisttypeArray" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="emaillisttype">
        <xsd:all>
          <xsd:element minOccurs="0" name="email_id" type="xsd:string" />
          <xsd:element minOccurs="0" name="email" type="xsd:string" />
          <xsd:element minOccurs="0" name="customer_number" type="xsd:string" />
          <xsd:element minOccurs="0" name="email_type" type="xsd:string" />
          <xsd:element minOccurs="0" name="email_active" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="emaillisttypeArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="typens:emaillisttype[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="optinlisttype">
        <xsd:all>
          <xsd:element minOccurs="0" name="email_id" type="xsd:string" />
          <xsd:element minOccurs="0" name="email" type="xsd:string" />
          <xsd:element minOccurs="0" name="customer_number" type="xsd:string" />
          <xsd:element minOccurs="0" name="eptextid" type="xsd:string" />
          <xsd:element minOccurs="0" name="eptype" type="xsd:string" />
          <xsd:element minOccurs="0" name="product_line" type="xsd:string" />
          <xsd:element minOccurs="0" name="optin" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="optinlisttypeArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="typens:optinlisttype[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="emailresulttype">
        <xsd:all>
          <xsd:element minOccurs="0" name="email_id" type="xsd:string" />
          <xsd:element minOccurs="0" name="email" type="xsd:string" />
          <xsd:element minOccurs="0" name="customer_number" type="xsd:string" />
          <xsd:element minOccurs="0" name="email_type" type="xsd:string" />
          <xsd:element minOccurs="0" name="email_active" type="xsd:string" />
          <xsd:element minOccurs="0" name="success" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="errors" type="typens:stringArray" />
          <xsd:element minOccurs="0" name="source" type="xsd:string" />
          <xsd:element minOccurs="0" name="update_all" type="xsd:string" />
          <xsd:element minOccurs="0" name="process_type" type="xsd:string" />
          <xsd:element minOccurs="0" name="email_status" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="emailresulttypeArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="typens:emailresulttype[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="optinresulttype">
        <xsd:all>
          <xsd:element minOccurs="0" name="email_id" type="xsd:string" />
          <xsd:element minOccurs="0" name="email" type="xsd:string" />
          <xsd:element minOccurs="0" name="customer_number" type="xsd:string" />
          <xsd:element minOccurs="0" name="eptextid" type="xsd:string" />
          <xsd:element minOccurs="0" name="eptype" type="xsd:string" />
          <xsd:element minOccurs="0" name="product_line" type="xsd:string" />
          <xsd:element minOccurs="0" name="optin" type="xsd:string" />
          <xsd:element minOccurs="0" name="success" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="errors" type="typens:stringArray" />
          <xsd:element minOccurs="0" name="source" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="optinresulttypeArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="typens:optinresulttype[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="returntype">
        <xsd:all>
          <xsd:element minOccurs="0" name="success" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="error" type="typens:errortypeArray" />
          <xsd:element minOccurs="0" name="response" type="typens:responsetype" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="errortypeArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="typens:errortype[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="responsetype">
        <xsd:all>
          <xsd:element minOccurs="0" name="ORDER_ADDED" type="xsd:string" />
          <xsd:element minOccurs="0" name="CUSTOMER_NUMBER" type="xsd:string" />
          <xsd:element minOccurs="0" name="CUSTOMER_UPDATED" type="xsd:string" />
          <xsd:element minOccurs="0" name="C_EMAIL_RESULTS" type="typens:emailresulttypeArray" />
          <xsd:element minOccurs="0" name="C_OPTIN_RESULTS" type="typens:optinresulttypeArray" />
          <xsd:element minOccurs="0" name="G_EMAIL_RESULTS" type="typens:emailresulttypeArray" />
          <xsd:element minOccurs="0" name="G_OPTIN_RESULTS" type="typens:optinresulttypeArray" />
          <xsd:element minOccurs="0" name="TIME_ELAPSED" type="xsd:string" />
          <xsd:element minOccurs="0" name="ROUNDTRIP_TIME" type="xsd:string" />
          <xsd:element minOccurs="0" name="MEMORY_USED" type="xsd:string" />
          <xsd:element minOccurs="0" name="PROTOCOL" type="xsd:string" />
          <xsd:element minOccurs="0" name="VERSION" type="xsd:string" />
          <xsd:element minOccurs="0" name="SERVER" type="xsd:string" />
          <xsd:element minOccurs="0" name="INFO" type="typens:stringArray" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="errortype">
        <xsd:all>
          <xsd:element minOccurs="0" name="errmsg" type="typens:stringArray" />
          <xsd:element minOccurs="0" name="errno" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="stringArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="xsd:string[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="process_wsdl">
    <wsdl:part name="args" type="typens:argtype" />
  </wsdl:message>
  <wsdl:message name="process_wsdlResponse">
    <wsdl:part name="process_wsdlReturn" type="typens:returntype" />
  </wsdl:message>
  <wsdl:portType name="process_wsdl_classPortType">
    <wsdl:operation name="process_wsdl">
      <documentation>
				Web Service Processor
			</documentation>
      <wsdl:input message="typens:process_wsdl" />
      <wsdl:output message="typens:process_wsdlResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="process_wsdl_classBinding" type="typens:process_wsdl_classPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="process_wsdl">
      <soap:operation soapAction="urn:process_wsdl_classAction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:SubOrderInsert" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:SubOrderInsert" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubOrderInsertService">
    <wsdl:port name="process_wsdl_classPort" binding="typens:process_wsdl_classBinding">
      <soap:address location="https://webservices.strategicfulfillment.com/websvcapps/services/https/process_wsdl.php?wsdlfile=order_insert_su" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>