HarperSERVICE/HarperSERVICE/Tests/Web References/MembershipService/MembershipService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PingResult" type="tns:BaseResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BaseResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TypedResponse" type="tns:SFGResponse" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Messages" type="tns:Message" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="DebugLog" type="tns:Message" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="DebugStringLog" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SFGResponse" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Info" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MemoryUsed" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="OptinResults" type="tns:OptinResults" />
          <s:element minOccurs="0" maxOccurs="1" name="Protocol" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RoundtripTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Server" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TimeElapsed" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OptinResults">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EmailId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EpTextId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EpType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductLine" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Optin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="SuccessSpecified" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Source" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SubscriptionServiceResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:SFGResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="MemberEmailResults" type="tns:EmailResultType" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="MemberOptinResults" type="tns:OptinResults" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="GifteeEmailResults" type="tns:EmailResultType" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="GifteeOptinResults" type="tns:OptinResults" />
              <s:element minOccurs="1" maxOccurs="1" name="OrderAdded" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="MemberId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MemberUpdated" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EmailResultType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EmailId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailActive" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="SuccessSpecified" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Source" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UpdateAll" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProcessType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailStatus" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserMaintenanceServiceResponse" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:SFGResponse">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="UpdateSucceeded" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="UpdateUsernameResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:UserMaintenanceServiceResponse" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="UpdatePasswordResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:UserMaintenanceServiceResponse" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="CreateLoginResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:UserMaintenanceServiceResponse" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="GatekeeperServiceResponse" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:SFGResponse">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="WebAccountFound" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="MemberFound" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="Authenticated" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="SubscriptionValidationData" type="tns:SubscriptionValidation" />
              <s:element minOccurs="0" maxOccurs="1" name="MemberData" type="tns:Member" />
              <s:element minOccurs="0" maxOccurs="1" name="RenewalOffers" type="tns:ArrayOfRenewalOffer" />
              <s:element minOccurs="0" maxOccurs="1" name="ShipToAddress" type="tns:Address" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SubscriptionValidation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Access" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusFlag" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Member">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="tns:Address" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusFlag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Subscriptions" type="tns:Subscription" />
          <s:element minOccurs="1" maxOccurs="1" name="OptIn" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CusId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CusCustNum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ScreenName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Salutation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleInitial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Suffix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProfessionalTitle" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Address">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StateCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BusinessName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AltCity" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Subscription">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Category" type="tns:SubscriptionCategory" />
          <s:element minOccurs="0" maxOccurs="1" name="PublicationCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Qty" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DateEntered" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpireDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IssuesRemaining" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RenewalKeycode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EPub" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="SubscribingMember" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GiftRecipient" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OutstandingBalance" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusFlag" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsGift" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsDonor" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="SubscriptionCategory">
        <s:restriction base="s:string">
          <s:enumeration value="Publication" />
          <s:enumeration value="Catalog" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfRenewalOffer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RenewalOffer" nillable="true" type="tns:RenewalOffer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RenewalOffer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="KeyCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PublicationCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AgencyCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SubRenewalFlag" type="s1:char" />
          <s:element minOccurs="0" maxOccurs="1" name="SubscriptionTerm" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CashOrCreditOffer" type="s1:char" />
          <s:element minOccurs="1" maxOccurs="1" name="GrossValue" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="StartIssue" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberFreeIssues" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="StartBillingIssue" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberGraceIssues" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberOfInstallments" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="Postage" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LoginResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:GatekeeperServiceResponse" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="GetMemberResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:GatekeeperServiceResponse" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="CustomerUpdateServiceResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:SFGResponse">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="MemberUpdated" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="UpdateMemberResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:CustomerUpdateServiceResponse" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="CreditCardServiceResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:SFGResponse">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="TransactionSucceeded" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="VerifoneRoutingId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AuthorizationCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ResponseCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MemberId" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="MemberUpdated" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="EmailResults" type="tns:EmailResultType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="PingResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:SFGResponse" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="FatalErrorResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:SFGResponse" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AHResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:SFGResponse" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ReferralResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:SFGResponse">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="referralid" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Message">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SfgCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SfgName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="SfgMessages" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AhCode" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="AhName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AhMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MethodName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageSource" type="tns:MessageSources" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="MessageSources">
        <s:restriction base="s:string">
          <s:enumeration value="AndrewHarper" />
          <s:enumeration value="SfgCommon" />
          <s:enumeration value="Unspecified" />
          <s:enumeration value="CreditCard" />
          <s:enumeration value="CustomerUpdate" />
          <s:enumeration value="Gatekeeper" />
          <s:enumeration value="SubOrderInsert" />
          <s:enumeration value="UserMaint" />
          <s:enumeration value="Heartbeat" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetMemberBySFGId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hashed_sfgid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMemberBySFGIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMemberBySFGIdResult" type="tns:BaseResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMemberByCusId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hashed_cusid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMemberByCusIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMemberByCusIdResult" type="tns:BaseResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMemberByUserName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMemberByUserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMemberByUserNameResult" type="tns:BaseResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hashed_memberid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="salutation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="suffix" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="professionaltitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="optin" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="businessname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="postalcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="screenname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateMemberResult" type="tns:BaseResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateReferral">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="enccusid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="membername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="memeberemail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="keycode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pubcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="friendname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailaddress" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ccmember" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateReferralResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateReferralResult" type="tns:BaseResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RedeemReferral">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encreferralid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailaddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="countrycode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="region" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="postal" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="optin" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encpassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RedeemReferralResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RedeemReferralResult" type="tns:BaseResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StoreCompHRData">
        <s:complexType />
      </s:element>
      <s:element name="StoreCompHRDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StoreCompHRDataResult" type="tns:BaseResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="char">
        <s:restriction base="s:unsignedShort" />
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="GetMemberBySFGIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetMemberBySFGId" />
  </wsdl:message>
  <wsdl:message name="GetMemberBySFGIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetMemberBySFGIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetMemberByCusIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetMemberByCusId" />
  </wsdl:message>
  <wsdl:message name="GetMemberByCusIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetMemberByCusIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetMemberByUserNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetMemberByUserName" />
  </wsdl:message>
  <wsdl:message name="GetMemberByUserNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetMemberByUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateMemberSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateMember" />
  </wsdl:message>
  <wsdl:message name="UpdateMemberSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateMemberResponse" />
  </wsdl:message>
  <wsdl:message name="CreateReferralSoapIn">
    <wsdl:part name="parameters" element="tns:CreateReferral" />
  </wsdl:message>
  <wsdl:message name="CreateReferralSoapOut">
    <wsdl:part name="parameters" element="tns:CreateReferralResponse" />
  </wsdl:message>
  <wsdl:message name="RedeemReferralSoapIn">
    <wsdl:part name="parameters" element="tns:RedeemReferral" />
  </wsdl:message>
  <wsdl:message name="RedeemReferralSoapOut">
    <wsdl:part name="parameters" element="tns:RedeemReferralResponse" />
  </wsdl:message>
  <wsdl:message name="StoreCompHRDataSoapIn">
    <wsdl:part name="parameters" element="tns:StoreCompHRData" />
  </wsdl:message>
  <wsdl:message name="StoreCompHRDataSoapOut">
    <wsdl:part name="parameters" element="tns:StoreCompHRDataResponse" />
  </wsdl:message>
  <wsdl:portType name="MembershipServiceSoap">
    <wsdl:operation name="Ping">
      <wsdl:input message="tns:PingSoapIn" />
      <wsdl:output message="tns:PingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberBySFGId">
      <wsdl:input message="tns:GetMemberBySFGIdSoapIn" />
      <wsdl:output message="tns:GetMemberBySFGIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberByCusId">
      <wsdl:input message="tns:GetMemberByCusIdSoapIn" />
      <wsdl:output message="tns:GetMemberByCusIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberByUserName">
      <wsdl:input message="tns:GetMemberByUserNameSoapIn" />
      <wsdl:output message="tns:GetMemberByUserNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMember">
      <wsdl:input message="tns:UpdateMemberSoapIn" />
      <wsdl:output message="tns:UpdateMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateReferral">
      <wsdl:input message="tns:CreateReferralSoapIn" />
      <wsdl:output message="tns:CreateReferralSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RedeemReferral">
      <wsdl:input message="tns:RedeemReferralSoapIn" />
      <wsdl:output message="tns:RedeemReferralSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StoreCompHRData">
      <wsdl:input message="tns:StoreCompHRDataSoapIn" />
      <wsdl:output message="tns:StoreCompHRDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MembershipServiceSoap" type="tns:MembershipServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberBySFGId">
      <soap:operation soapAction="http://tempuri.org/GetMemberBySFGId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberByCusId">
      <soap:operation soapAction="http://tempuri.org/GetMemberByCusId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberByUserName">
      <soap:operation soapAction="http://tempuri.org/GetMemberByUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMember">
      <soap:operation soapAction="http://tempuri.org/UpdateMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateReferral">
      <soap:operation soapAction="http://tempuri.org/CreateReferral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedeemReferral">
      <soap:operation soapAction="http://tempuri.org/RedeemReferral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreCompHRData">
      <soap:operation soapAction="http://tempuri.org/StoreCompHRData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MembershipServiceSoap12" type="tns:MembershipServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://tempuri.org/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberBySFGId">
      <soap12:operation soapAction="http://tempuri.org/GetMemberBySFGId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberByCusId">
      <soap12:operation soapAction="http://tempuri.org/GetMemberByCusId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberByUserName">
      <soap12:operation soapAction="http://tempuri.org/GetMemberByUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMember">
      <soap12:operation soapAction="http://tempuri.org/UpdateMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateReferral">
      <soap12:operation soapAction="http://tempuri.org/CreateReferral" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RedeemReferral">
      <soap12:operation soapAction="http://tempuri.org/RedeemReferral" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreCompHRData">
      <soap12:operation soapAction="http://tempuri.org/StoreCompHRData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MembershipService">
    <wsdl:port name="MembershipServiceSoap" binding="tns:MembershipServiceSoap">
      <soap:address location="http://localhost:3105/MembershipService.asmx" />
    </wsdl:port>
    <wsdl:port name="MembershipServiceSoap12" binding="tns:MembershipServiceSoap12">
      <soap12:address location="http://localhost:3105/MembershipService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>