HarperSERVICE/HarperSERVICE/SFGWrapper/Wsdl/gate_keeper.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<!-- WSDL file generated by Zend Studio. -->
<!-- 
	2009-02-04  jaf  Added "login_as" to allow for login impersonation.
-->

<definitions name="GateKeeper" targetNamespace="urn:GateKeeper" xmlns:typens="urn:GateKeeper" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:GateKeeper">
		<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />	 
			<xsd:complexType name="argtype">
				<xsd:all>
					<xsd:element name="org" type="xsd:string"/>
					<xsd:element name="program_type_id" type="xsd:string"/>
					<xsd:element name="program_id" minOccurs="0" type="xsd:string"/>
					<xsd:element name="test_mode" type="xsd:string"/>
					<xsd:element name="as_partner" minOccurs="0" type="xsd:string"/>
					<xsd:element name="db_name" minOccurs="0" type="xsd:string"/>
					<xsd:element name="app_version" minOccurs="0" type="xsd:string"/>
					<xsd:element name="is_network_monitor" minOccurs="0" type="xsd:string"/>
					<xsd:element name="as_email" minOccurs="0" type="xsd:string"/>
					<xsd:element name="userid" minOccurs="0" type="xsd:string"/>
					<xsd:element name="pw" minOccurs="0" type="xsd:string"/>
					<xsd:element name="customer_number" minOccurs="0" type="xsd:string"/>
					<xsd:element name="zip" minOccurs="0" type="xsd:string"/>
					<xsd:element name="first" minOccurs="0" type="xsd:string"/>
					<xsd:element name="last" minOccurs="0" type="xsd:string"/>
					<xsd:element name="address" minOccurs="0" type="xsd:string"/>
					<xsd:element name="country" minOccurs="0" type="xsd:string"/>
					<xsd:element name="hashed_pw" minOccurs="0" type="xsd:string"/>
					<xsd:element name="check_pw" minOccurs="0" type="xsd:string"/>
					<xsd:element name="load_customer" minOccurs="0" type="xsd:string"/>
					<xsd:element name="load_history" minOccurs="0" type="xsd:string"/>
					<xsd:element name="validate_subscription" minOccurs="0" type="xsd:string"/>
					<xsd:element name="load_renewal_offers" minOccurs="0" type="xsd:string"/>
					<xsd:element name="load_optin_list" minOccurs="0" type="xsd:string"/>					
					<xsd:element name="offers_key_code" minOccurs="0" type="xsd:string"/>
					<xsd:element name="days_history" type="xsd:int"/>
					<xsd:element name="login_as" minOccurs="0" type="xsd:string"/>
          <xsd:element name="search_by_custno" minOccurs="0" type="xsd:string"/>          
        </xsd:all>
			</xsd:complexType>
			<xsd:complexType name="returntype">
				<xsd:all>
					<xsd:element name="success" minOccurs="0" type="xsd:boolean"/>
					<xsd:element name="error" minOccurs="0" type="typens:errortypeArray"/>
					<xsd:element name="response" minOccurs="0" type="typens:responsetype"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="errortypeArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:errortype[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="responsetype">
				<xsd:all>
					<xsd:element name="USER_FOUND" minOccurs="0" type="xsd:string"/>
					<xsd:element name="CUST_FOUND" minOccurs="0" type="xsd:string"/>
					<xsd:element name="CUSTOMER_NUMBER" minOccurs="0" type="xsd:string"/>
					<xsd:element name="USERID" minOccurs="0" type="xsd:string"/>
					<xsd:element name="AUTH" minOccurs="0" type="xsd:string"/>
					<xsd:element name="ACCESS" minOccurs="0" type="xsd:string"/>
					<xsd:element name="STATUS" minOccurs="0" type="xsd:string"/>
					<xsd:element name="CUSTOMER_INFO" minOccurs="0" type="typens:customerinfotype"/>
					<xsd:element name="SHIP_TO" minOccurs="0" type="typens:shiptotype"/>
					<xsd:element name="ORDER_HISTORY" minOccurs="0" type="typens:orderhistorytypeArray" nillable="true"/>
					<xsd:element name="SUB_OFFERS" minOccurs="0" type="typens:suboffertypeArray"/>
					<xsd:element name="TIME_ELAPSED" minOccurs="0" type="xsd:string"/>
					<xsd:element name="ROUNDTRIP_TIME" minOccurs="0" type="xsd:string"/>
					<xsd:element name="MEMORY_USED" minOccurs="0" type="xsd:string"/>
					<xsd:element name="PROTOCOL" minOccurs="0" type="xsd:string"/>
					<xsd:element name="VERSION" minOccurs="0" type="xsd:string"/>
					<xsd:element name="SERVER" minOccurs="0" type="xsd:string"/>
					<xsd:element name="INFO" minOccurs="0" type="typens:stringArray"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="customerinfotype">
				<xsd:all>
					<xsd:element name="CUSTOMER_NUMBER" minOccurs="0" type="xsd:string"/>				
					<xsd:element name="FIRST" minOccurs="0" type="xsd:string"/>
					<xsd:element name="MI" minOccurs="0" type="xsd:string"/>
					<xsd:element name="LAST" minOccurs="0" type="xsd:string"/>
					<xsd:element name="PROFESSIONAL_TITLE" minOccurs="0" type="xsd:string"/>
					<xsd:element name="BUSINESS_NAME" minOccurs="0" type="xsd:string"/>
					<xsd:element name="ADD1" minOccurs="0" type="xsd:string"/>
					<xsd:element name="ADD2" minOccurs="0" type="xsd:string"/>
					<xsd:element name="ADD3" minOccurs="0" type="xsd:string"/>
					<xsd:element name="CITY" minOccurs="0" type="xsd:string"/>
					<xsd:element name="ST" minOccurs="0" type="xsd:string"/>
					<xsd:element name="STATE_NAME" minOccurs="0" type="xsd:string"/>
					<xsd:element name="ZIP" minOccurs="0" type="xsd:string"/>
					<xsd:element name="COUNTRY" minOccurs="0" type="xsd:string"/>
					<xsd:element name="PHONE" minOccurs="0" type="xsd:string"/>
					<xsd:element name="TITLE" minOccurs="0" type="xsd:string"/>
					<xsd:element name="SUFFIX" minOccurs="0" type="xsd:string"/>
					<xsd:element name="EMAIL" minOccurs="0" type="xsd:string"/>
					<xsd:element name="EPREF" minOccurs="0" type="xsd:string"/>
					<xsd:element name="OPTIN" minOccurs="0" type="xsd:string"/>
					<xsd:element name="ALTCITY" minOccurs="0" type="xsd:string"/>
					<xsd:element name="STATUS" minOccurs="0" type="xsd:string"/>
					<xsd:element name="STATUS_DESC" minOccurs="0" type="xsd:string"/>
					<!--<xsd:element name="EMAIL_LIST" minOccurs="0" type="typens:emaillisttypeArray"/>
					<xsd:element name="OPTIN_LIST" minOccurs="0" type="typens:optinlisttypeArray"/>		-->			
				</xsd:all>
			</xsd:complexType>						
			<xsd:complexType name="orderhistorytype" nillable="true">
				<xsd:all>
					<xsd:element name="CATEGORY" minOccurs="0" type="xsd:string"/>
					<xsd:element name="PROD_CODE" minOccurs="0" type="xsd:string"/>
					<xsd:element name="DESCRIPTION" minOccurs="0" type="xsd:string"/>
					<xsd:element name="QTY" minOccurs="0" type="xsd:string"/>
					<xsd:element name="DATE" minOccurs="0" type="xsd:string"/>
					<xsd:element name="EXPIRE_DATE" minOccurs="0" type="xsd:string"/>
					<xsd:element name="ISS_REM" minOccurs="0" type="xsd:string"/>
					<xsd:element name="RENEWAL_KEYCODE" minOccurs="0" type="xsd:string"/>
					<xsd:element name="EPUB" minOccurs="0" type="xsd:string"/>
					<xsd:element name="H_CUST" minOccurs="0" type="xsd:string"/>
					<xsd:element name="G_CUST" minOccurs="0" type="xsd:string"/>
					<xsd:element name="STATUS_FLAG" minOccurs="0" type="xsd:string"/>
					<xsd:element name="IS_GIFT" minOccurs="0" type="xsd:string"/>
					<xsd:element name="IS_DONOR" minOccurs="0" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>		
			<xsd:complexType name="orderhistorytypeArray" nillable="true">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:sequence>
					    <xsd:element nillable="true" maxOccurs="unbounded" minOccurs="0" name="item" type="typens:orderhistorytype"/>
		  			</xsd:sequence>
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:orderhistorytype[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>			
			<xsd:complexType name="emaillisttype">
				<xsd:all>
					<xsd:element name="EMAIL_ID" minOccurs="0" type="xsd:string"/>
					<xsd:element name="EMAIL" minOccurs="0" type="xsd:string"/>
					<xsd:element name="CUSTOMER_NUMBER" minOccurs="0" type="xsd:string"/>
					<xsd:element name="EMAIL_TYPE" minOccurs="0" type="xsd:string"/>
					<xsd:element name="EMAIL_TYPE_DESC" minOccurs="0" type="xsd:string"/>
					<xsd:element name="EMAIL_ACTIVE" minOccurs="0" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>		
			<xsd:complexType name="emaillisttypeArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:emaillisttype[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="optinlisttype">
				<xsd:all>
					<xsd:element name="EMAIL_ID" minOccurs="0" type="xsd:string"/>
					<xsd:element name="EMAIL" minOccurs="0" type="xsd:string"/>
					<xsd:element name="EMAIL_TYPE" minOccurs="0" type="xsd:string"/>
					<xsd:element name="EMAIL_TYPE_DESC" minOccurs="0" type="xsd:string"/>
					<xsd:element name="EMAIL_ACTIVE" minOccurs="0" type="xsd:string"/>
					<xsd:element name="CUSTOMER_NUMBER" minOccurs="0" type="xsd:string"/>
					<xsd:element name="OPTIN" minOccurs="0" type="typens:optintypeArray"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="optinlisttypeArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:optinlisttype[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="optintype">
				<xsd:all>
					<xsd:element name="EPTEXTID" minOccurs="0" type="xsd:string"/>
					<xsd:element name="EPDESC" minOccurs="0" type="xsd:string"/>
					<xsd:element name="OPTIN" minOccurs="0" type="xsd:string"/>
					<xsd:element name="PRODUCT_LINE" minOccurs="0" type="xsd:string"/>
					<xsd:element name="EPTYPE" minOccurs="0" type="xsd:string"/>
					<xsd:element name="EPTYPE_DESC" minOccurs="0" type="xsd:string"/>
					<xsd:element name="IS_DEFAULT" minOccurs="0" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="optintypeArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:optintype[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="suboffertype">
				<xsd:all>
					<xsd:element name="KEY_CODE" minOccurs="0" type="xsd:string"/>
					<xsd:element name="PUBLICATION_CODE" minOccurs="0" type="xsd:string"/>
					<xsd:element name="AGENCY_CODE" minOccurs="0" type="xsd:string"/>
					<xsd:element name="COUNTRY_CODE" minOccurs="0" type="xsd:string"/>
					<xsd:element name="SUB_RENEWAL_FLAG" minOccurs="0" type="xsd:string"/>
					<xsd:element name="SUBSCRIPTION_TERM" minOccurs="0" type="xsd:string"/>
					<xsd:element name="CASH_OR_CREDIT_OFFER" minOccurs="0" type="xsd:string"/>
					<xsd:element name="GROSS_VALUE" minOccurs="0" type="xsd:string"/>
					<xsd:element name="START_DATE" minOccurs="0" type="xsd:string"/>
					<xsd:element name="START_ISSUE" minOccurs="0" type="xsd:string"/>
					<xsd:element name="NUMBER_FREE_ISSUES" minOccurs="0" type="xsd:string"/>
					<xsd:element name="START_BILLING_ISSUE" minOccurs="0" type="xsd:string"/>
					<xsd:element name="NUMBER_GRACE_ISSUES" minOccurs="0" type="xsd:string"/>
					<xsd:element name="NUMBER_OF_INSTALLMENTS" minOccurs="0" type="xsd:string"/>
					<xsd:element name="POSTAGE" minOccurs="0" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>		
			<xsd:complexType name="suboffertypeArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:suboffertype[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="shiptotype">
				<xsd:all>
					<xsd:element name="SBUSINESS" minOccurs="0" type="xsd:string"/>
					<xsd:element name="SADDR1" minOccurs="0" type="xsd:string"/>
					<xsd:element name="SADDR2" minOccurs="0" type="xsd:string"/>
					<xsd:element name="SADDR3" minOccurs="0" type="xsd:string"/>
					<xsd:element name="SCITY" minOccurs="0" type="xsd:string"/>
					<xsd:element name="SST" minOccurs="0" type="xsd:string"/>
					<xsd:element name="SZIP" minOccurs="0" type="xsd:string"/>
					<xsd:element name="SCOUNTRY" minOccurs="0" type="xsd:string"/>
					<xsd:element name="SPHONE" minOccurs="0" type="xsd:string"/>
					<xsd:element name="STITLE" minOccurs="0" type="xsd:string"/>
					<xsd:element name="SSUFFIX" minOccurs="0" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>			
			<xsd:complexType name="errortype">
				<xsd:all>
					<xsd:element name="errmsg" minOccurs="0" type="typens:stringArray"/>
					<xsd:element name="errno" minOccurs="0" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="stringArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="process_wsdl">
		<part name="args" type="typens:argtype"/>
	</message>
	<message name="process_wsdlResponse">
		<part name="process_wsdlReturn" type="typens:returntype"/>
	</message>
	<portType name="process_wsdl_classPortType">
		<operation name="process_wsdl">
			<documentation>
				Web Service Processor
			</documentation>
			<input message="typens:process_wsdl"/>
			<output message="typens:process_wsdlResponse"/>
		</operation>
	</portType>
	<binding name="process_wsdl_classBinding" type="typens:process_wsdl_classPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="process_wsdl">
			<soap:operation soapAction="urn:process_wsdl_classAction"/>
			<input>
				<soap:body namespace="urn:GateKeeper" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:GateKeeper" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	<service name="GateKeeperService">
		<port name="process_wsdl_classPort" binding="typens:process_wsdl_classBinding">
			<soap:address location="https://webservices.strategicfulfillment.com/websvcapps/services/https/process_wsdl.php?wsdlfile=gate_keeper"/>
		</port>
	</service>
</definitions>