HarperSERVICE/HarperSERVICE/SFGWrapper/Wsdl/user_maint.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<!-- WSDL file generated by Zend Studio. -->

<definitions name="UserMaint" targetNamespace="urn:UserMaint" xmlns:typens="urn:UserMaint" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:UserMaint">
		<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />	 
			<xsd:complexType name="argtype">
				<xsd:all>
					<xsd:element name="org" type="xsd:string"/>
					<xsd:element name="program_type_id" type="xsd:string"/>
					<xsd:element name="program_id" minOccurs="0" type="xsd:string"/>					
					<xsd:element name="test_mode" type="xsd:string"/>
					<xsd:element name="as_partner" minOccurs="0" type="xsd:string"/>
					<xsd:element name="db_name" minOccurs="0" type="xsd:string"/>
					<xsd:element name="app_version" minOccurs="0" type="xsd:string"/>
					<xsd:element name="is_network_monitor" minOccurs="0" type="xsd:string"/>
					<xsd:element name="as_email" minOccurs="0" type="xsd:string"/>
					<xsd:element name="new_user" minOccurs="0" type="xsd:string"/>
					<xsd:element name="userid" type="xsd:string"/>
					<xsd:element name="pw" type="xsd:string"/>
					<xsd:element name="validation_userid" minOccurs="0" nillable="true" type="xsd:string"/>
					<xsd:element name="customer_number" minOccurs="0" nillable="true" type="xsd:string"/>
					<xsd:element name="zip" minOccurs="0" nillable="true" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="returntype">
				<xsd:all>
					<xsd:element name="success" minOccurs="0" type="xsd:boolean"/>
					<xsd:element name="error" minOccurs="0" type="typens:errortypeArray"/>
					<xsd:element name="response" minOccurs="0" type="typens:responsetype"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="errortypeArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:errortype[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="responsetype">
				<xsd:all>
					<xsd:element name="UPDATE_SUCCEEDED" minOccurs="0" type="xsd:string"/>
					<xsd:element name="TIME_ELAPSED" minOccurs="0" type="xsd:string"/>
					<xsd:element name="ROUNDTRIP_TIME" minOccurs="0" type="xsd:string"/>
					<xsd:element name="MEMORY_USED" minOccurs="0" type="xsd:string"/>
					<xsd:element name="PROTOCOL" minOccurs="0" type="xsd:string"/>
					<xsd:element name="VERSION" minOccurs="0" type="xsd:string"/>
					<xsd:element name="SERVER" minOccurs="0" type="xsd:string"/>
					<xsd:element name="INFO" minOccurs="0" type="typens:stringArray"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="errortype">
				<xsd:all>
					<xsd:element name="errmsg" minOccurs="0" type="typens:stringArray"/>
					<xsd:element name="errno" minOccurs="0" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="stringArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="process_wsdl">
		<part name="args" type="typens:argtype"/>
	</message>
	<message name="process_wsdlResponse">
		<part name="process_wsdlReturn" type="typens:returntype"/>
	</message>
	<portType name="process_wsdl_classPortType">
		<operation name="process_wsdl">
			<documentation>
				Web Service Processor
			</documentation>
			<input message="typens:process_wsdl"/>
			<output message="typens:process_wsdlResponse"/>
		</operation>
	</portType>
	<binding name="process_wsdl_classBinding" type="typens:process_wsdl_classPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="process_wsdl">
			<soap:operation soapAction="urn:process_wsdl_classAction"/>
			<input>
				<soap:body namespace="urn:UserMaint" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:UserMaint" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	<service name="UserMaintService">
		<port name="process_wsdl_classPort" binding="typens:process_wsdl_classBinding">
			<soap:address location="https://webservices.strategicfulfillment.com/websvcapps/services/https/process_wsdl.php?wsdlfile=user_maint"/>
		</port>
	</service>
</definitions>