HarperSERVICE/HarperSERVICE/SFGWrapper/Web References/SFG.HeartbeatSvc/Heartbeat.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:typens="urn:Heartbeat" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" name="Heartbeat" targetNamespace="urn:Heartbeat" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Heartbeat">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="argtype">
        <xsd:all>
          <xsd:element name="org" type="xsd:string" />
          <xsd:element name="test_mode" type="xsd:string" />
          <xsd:element minOccurs="0" name="as_partner" type="xsd:string" />
          <xsd:element minOccurs="0" name="db_name" type="xsd:string" />
          <xsd:element minOccurs="0" name="app_version" type="xsd:string" />
          <xsd:element minOccurs="0" name="is_network_monitor" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="returntype">
        <xsd:all>
          <xsd:element minOccurs="0" name="success" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="error" type="typens:errortypeArray" />
          <xsd:element minOccurs="0" name="response" type="typens:responsetype" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="errortypeArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="typens:errortype[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="responsetype">
        <xsd:all>
          <xsd:element minOccurs="0" name="STATUS" type="xsd:string" />
          <xsd:element minOccurs="0" name="TIME_ELAPSED" type="xsd:string" />
          <xsd:element minOccurs="0" name="ROUNDTRIP_TIME" type="xsd:string" />
          <xsd:element minOccurs="0" name="MEMORY_USED" type="xsd:string" />
          <xsd:element minOccurs="0" name="PROTOCOL" type="xsd:string" />
          <xsd:element minOccurs="0" name="VERSION" type="xsd:string" />
          <xsd:element minOccurs="0" name="SERVER" type="xsd:string" />
          <xsd:element minOccurs="0" name="INFO" type="typens:stringArray" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="errortype">
        <xsd:all>
          <xsd:element minOccurs="0" name="errmsg" type="typens:stringArray" />
          <xsd:element minOccurs="0" name="errno" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="stringArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="xsd:string[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="process_wsdl">
    <wsdl:part name="args" type="typens:argtype" />
  </wsdl:message>
  <wsdl:message name="process_wsdlResponse">
    <wsdl:part name="process_wsdlReturn" type="typens:returntype" />
  </wsdl:message>
  <wsdl:portType name="process_wsdl_classPortType">
    <wsdl:operation name="process_wsdl">
      <documentation>
				Web Service Processor
			</documentation>
      <wsdl:input message="typens:process_wsdl" />
      <wsdl:output message="typens:process_wsdlResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="process_wsdl_classBinding" type="typens:process_wsdl_classPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="process_wsdl">
      <soap:operation soapAction="urn:process_wsdl_classAction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Heartbeat" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Heartbeat" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HeartbeatService">
    <wsdl:port name="process_wsdl_classPort" binding="typens:process_wsdl_classBinding">
      <soap:address location="https://webservices.strategicfulfillment.com/websvcapps/services/http/process_wsdl.php?wsdlfile=heartbeat" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>